 .spot_component {
     background-color: yellow;
     border: solid;
     border-color: #1b1e21;
     width: 150px;
     height: 400px;
     text-align: center;
     vertical-align: center;
     margin: 10px;
     padding: 10px;
     border-top-left-radius: 20%;
     border-top-right-radius: 20%;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;

 }